streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters

chromadb
faiss-cpu

sentence-transformers
transformers
torch

pandas
numpy

beautifulsoup4
requests
lxml

python-dotenv

pypdf
pdfplumber
pymupdf

youtube-transcript-api

tiktoken

ollama

unstructured

fastapi
uvicorn

scikit-learn

protobuf

python-multipart